<%- include('partials/header') %>
<!-- Content-->
<div class="container">
<h2 class="text-center">Edit Data Student</h2>
<form action="/students/<%=data.id%>/edit" method="post" >
  <div class="form-group">
  <label for="first_name">First Name</label> <br>
  <input class="form-control" type="text" name="first_name" value="<%= data.first_name %> "> <br>
  <label for="last_name">Last Name</label> <br>
  <input class="form-control" type="text" name="last_name" value="<%= data.last_name %>"> <br>
  <label for="email">Email</label> <br>
  <input class="form-control" type="text" name="email" value="<%= data.email %>"> <br>
  <label for="gender">Gender</label> <br>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Option</label>
    </div>
    <select class="custom-select" name="gender" id="gender" value="<%= data.gender %>">
      <option selected>Choose...</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  <br>
  <label for="birth_date">Birth Date</label> <br>
  <input class="form-control" type="date" name="birth_date" value="<%= data.birth_date %>"> <br><br>
</div>
<div class=" mx-auto" style="width: 160px;">
  <button class="btn btn-primary" type="submit">Edit Student Data</button>
  <br><br>
</div>
</form>
</div>
<%- include('partials/footer') %> 